@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pixelify Sans', sans-serif;
}
@media (max-width: 767px) {
  body{
    z-index: 100;
    background-color: black;
    position: fixed;
    width: 1000px;
    height: 1000px;
    top: 0;
    left: 0;
  }
  
  body::before{
    content: "데스크톱 환경에서만 원활한 사용이 가능합니다.";
    color: white;
    width: 1000px;
    height: 1000px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
  }
}

@media (min-width: 768px) {
  body {
    background: black;
    z-index: -1;
    overflow: hidden;
    transform: scale(1.4);
    transition: transform 0.2s ease-out;

    transform-origin: 0% 0%;

    position: absolute;
    transform: translate(-50%, -50%);
  }

  .chatbot {
    position: absolute;
    transform: translate(-50%, -55%);
    top: 50%;
    left: 50%;
    width: 420px;
    overflow: hidden;
    transition: all 0.1s ease;
  }
  .chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #00ff08;
  }
  .chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
  }
  header h2 {
    font-size: 1.4rem;
  }
  .chatbot .chatbox {
    overflow-y: auto;
    height: 350px;
    padding: 0px 20px 100px 0;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 2px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {

  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #00ff08;;
  }
  .chatbox .chat {
    display: flex;
    list-style: none;
  }
  .chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
  }
  .incoming {
    display: flex;
    flex-direction: column; /* 수직으로 나열하도록 설정 */
  }
  .chatbox .incoming span {
    /*icon*/
    width: 32px;
    height: 32px;
    color: #00ff08;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-start;
    margin: 0 0 -10px 10px;
  }
  .chatbox .chat p {
    /*client chat*/
    white-space: pre-wrap;
    padding: 12px 16px;
    max-width: 75%;
    color: #00ff08;
    font-size: 0.95rem;
  }

  .chatbox .chat p.error {
    color: #721c24;
  }
  .chatbox .incoming p {
    /*bot chat*/
    color: #00ff08;
  }
  .chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3px 20px;
    border-top: 1px;
  }
  .chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
    background-color: transparent;
    color: #00ff08;
  }
  .chat-input span {
    align-self: flex-end;
    color: #00ff08;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
  }
  .chat-input textarea:valid ~ span {
    visibility: visible;
  }

  @media (max-width: 490px) {
    .chatbot {
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }
    .chatbot .chatbox {
      height: 90%;
      padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
      padding: 5px 15px;
    }
    .chatbot header span {
      display: block;
    }
  }
}